.App {
  width: 100vw;
  height: fit-content;
  margin: 0;
}

.header,
.header_right {
  background-color: black;
  display: flex;
  padding: 25px;
  justify-content: space-between;
  height: 10vh;
  align-items: center;
  color: white;
  position: sticky;
  inset: 0;
  z-index: 99999;
}

.header > h1 {
  font-weight: lighter;
  font-style: italic;
}

.header_right {
  flex: 0.2;
}

.basketIcon {
  font-size: 30px;
  color: white;
  cursor: pointer;
}
